body{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}
.Main_Container{
    top: 50%;
    left: 50%;
    width: 60vw;
    position: absolute;
    transform: translate(-50%,-50%);
    box-shadow: 5px 5px 5px 5px #111;
    border-radius: 10px;
    background-color: rgb(200, 200, 167);
  
   text-align: center;
}
.Add_Scrollbar{
    height: 50vh;
    margin-bottom: 20px;
    margin-left: 5vw;
    box-shadow: 5px 5px 5px 5px #111;
    width: 50vw;
    background-color: rgb(233, 224, 212);
    overflow-x: hidden;
} 

h1{
    border-bottom: 2px solid black;
}
 input[type='text']{
    background-color: aliceblue;
    text-align: center;
    margin-right: 2px;
    color: black;
}
#btn{
    border-radius: 56%;
    font-size: 30px;
    font-weight: bold;
   color: green;
   background-color: #e9f7d2;
}
ul>li{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    list-style: none;
    grid-gap: 2px;
    word-wrap: break-word;
    margin: 0%;
}
#list_items{
    margin: 0%;
    grid-column: 1/8;
    text-align: left;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 2px;
    background-color: #c4bcbc;
   align-self: center;
}

#delete,#edit{
    margin: 0%;
    margin-top: 18px;
    width: auto;
    height: 6vh;
    border-radius: 5px;
    font-size: 30px;
    
}
#delete{
    color: red;
   
}

#edit{
    color: yellowgreen;
}
#todo-input{
    margin-bottom: 2vh;
    border-radius: 5px;
    background-color: lightgrey;
    height: 3.4vh;
    width: 20vw;
}

.calsi{
    margin-top: 2px;
    margin-right: 2px;
    font-size: 15px;
    float: right;
    width: 10vw;
    height: 5vh;
    background-color: green;
}
